@import url('https://use.typekit.net/dnu8vml.css');

@font-face {
    font-family: 'Bifocals';
    src: url('/public/fonts/bifocals/Bifocals-Regular.eot');
    src: url('/public/fonts/bifocals/Bifocals-Regular.woff') format('woff'),
        url('/public/fonts/bifocals/Bifocals-Regular.otf') format('opentype'),
        url('/public/fonts/bifocals/Bifocals-Regular.svg') format('svg');
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: #000000;
}

.scrollArea {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

a {
    color: white;
}

.side-text-box {
    position: absolute;
    left: -8vh;
    display: flex;
    align-items: center;
    width: 50%;
    height: 100vh;
}

.side-text {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 33vh;
    line-height: 33vh;
    font-weight: 400;
    color: #ffffff;
    margin: 0;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    white-space: nowrap;
}

.side-text-box-right {
    position: absolute;
    right: -8vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    height: 100vh;
}

.side-text-right {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 33vh;
    line-height: 33vh;
    font-weight: 400;
    color: #ffffff;
    margin: 0;
    writing-mode: vertical-rl;
    white-space: nowrap;
}

.scroll-text {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-bottom: 10px;
    padding-right: 10px;
    font-family: 'Bifocals', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    margin: 0;
    opacity: 0.5;
}

.header {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6vw;
    line-height: 6vw;
    color: #ffffff;
}

.opening-paragraph {
    position: relative;
    align-self: flex-end;
    text-align: justify;
    width: 50vw;
    padding-bottom: 10px;
    padding-right: 10px;
    font-family: 'Bifocals', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    margin: 0;
}

.info-title {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 8vw;
    line-height: 8vw;
    color: #ffffff;
}

.section-centered {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.info-paragraph {
    position: absolute;
    text-align: justify;
    left: 30%;
    width: 33%;
    padding-bottom: 10px;
    padding-right: 10px;
    font-family: 'Bifocals', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    margin: 0;
}

.info-paragraph.invert {
    left: auto;
    right: 10%;
}

.paragraph {
    text-align: justify;
    width: 45vw;
    padding-bottom: 10px;
    padding-right: 10px;
    font-family: 'Bifocals', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    margin: 0;
}

.image-box {
    width: 400px;
    height: 400px;
    position: absolute;
}

.project-main-image-box {
    width: 90vw;
    height: auto;
}

.corrose-image-1 {
    width: 25vw;
    height: auto;
    position: absolute;
    right: 15%;
}

.corrose-image-2 {
    width: 45vw;
    height: auto;
    position: absolute;
    left: 25%;
}

.atf-image-1 {
    width: 33vw;
    height: auto;
    position: absolute;
    right: 7.5%;
}

.atf-image-2 {
    width: 45vw;
    height: auto;
    position: absolute;
    left: 20%;
}

.atf-image-box {
    width: 400px;
    height: 400px;
    position: absolute;
    right: 12.5%;
}

.album-image-box {
    width: 50vh;
    height: 50vh;
    position: absolute;
    right: 25%;
}

.para-image-box {
    width: 100%;
    height: 400px;
    position: absolute;
    right: 0;
}

.profile-image-box {
    position: relative;
    width: 90vw;
    height: auto;
}

.image-plane {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
}

.para-image-box {
    width: 50vw;
    height: auto;
    position: absolute;
}

.header-white {
    max-width: 200px;
    font-size: 75px;
    line-height: 75px;
    color: white;
}

.support-text-box {
    display: flex;
    width: 50vw;
    position: absolute;
    right: 12.5%;
    bottom: 25%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.support-text {
    font-family: 'Bifocals', sans-serif;
    margin-left: 15px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    margin: 0;
    align-self: flex-end;
    color: #ffffff;
}

@media only screen and (max-width: 600px) {
    .side-text-box {
        position: absolute;
        left: -12vh;
        display: flex;
        align-items: center;
        width: 50%;
        height: 100vh;
    }

    .side-text {
        font-family: neue-haas-grotesk-display, sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 27.5vh;
        line-height: 27.5vh;
        font-weight: 400;
        color: #ffffff;
        margin: 0;
        writing-mode: vertical-rl;
        transform: rotate(-180deg);
        white-space: nowrap;
    }

    .side-text-box-right {
        position: absolute;
        right: -17.5vh;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 50%;
        height: 100vh;
    }

    .side-text-right {
        font-family: neue-haas-grotesk-display, sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 27.5vh;
        line-height: 27.5vh;
        font-weight: 400;
        color: #ffffff;
        margin: 0;
        writing-mode: vertical-rl;
        white-space: nowrap;
    }

    .scroll-text {
        position: absolute;
        right: 0;
        bottom: 0;
        padding-bottom: 10px;
        padding-right: 10px;
        font-family: 'Bifocals', sans-serif;
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
        color: #ffffff;
        margin: 0;
        opacity: 1;
    }

    .header {
        font-family: neue-haas-grotesk-display, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 6vw;
        line-height: 6vw;
        color: #ffffff;
    }

    .opening-paragraph {
        position: relative;
        align-self: flex-end;
        text-align: justify;
        width: 60vw;
        padding-bottom: 10px;
        padding-right: 10px;
        font-family: 'Bifocals', sans-serif;
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
        color: #ffffff;
        margin: 0;
    }

    .info-title {
        font-family: neue-haas-grotesk-display, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 8vw;
        line-height: 8vw;
        color: #ffffff;
    }

    .section-centered {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
    }

    .info-paragraph {
        position: absolute;
        text-align: justify;
        left: 30%;
        top: 70%;
        width: 50%;
        padding-bottom: 10px;
        padding-right: 10px;
        font-family: 'Bifocals', sans-serif;
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
        color: #ffffff;
        margin: 0;
    }

    .info-paragraph.invert {
        left: auto;
        right: 10%;
    }

    .paragraph {
        text-align: justify;
        width: 66vw;
        padding-bottom: 10px;
        padding-left: 10vw;
        font-family: 'Bifocals', sans-serif;
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
        color: #ffffff;
        margin: 0;
    }

    .project-main-image-box {
        width: 90vw;
        height: auto;
    }

    .corrose-image-1 {
        width: 50vw;
        height: auto;
        position: absolute;
        right: 15%;
        top: 33%;
    }

    .corrose-image-2 {
        width: 90vw;
        height: auto;
        position: absolute;
        left: 25%;
    }

    .atf-image-1 {
        width: 50vw;
        height: auto;
        position: absolute;
        right: 7.5%;
    }

    .atf-image-2 {
        width: 75vw;
        height: auto;
        position: absolute;
        left: 20%;
    }

    .atf-image-box {
        width: 400px;
        height: 400px;
        position: absolute;
        right: 12.5%;
    }

    .album-image-box {
        width: 50vw;
        height: 50vw;
        position: absolute;
        right: 12.5%;
    }

    .para-image-box {
        width: 100%;
        height: 400px;
        position: absolute;
        right: 0;
    }

    .profile-image-box {
        position: relative;
        width: 120vw;
        height: auto;
    }

    .image-plane {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;
    }

    .para-image-box {
        width: 50vw;
        height: auto;
        position: absolute;
    }

    .header-white {
        max-width: 200px;
        font-size: 75px;
        line-height: 75px;
        color: white;
    }

    .support-text-box {
        display: flex;
        width: 50vw;
        position: absolute;
        right: 12.5%;
        bottom: 25%;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .support-text {
        font-family: 'Bifocals', sans-serif;
        margin-left: 15px;
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
        margin: 0;
        align-self: flex-end;
        color: #ffffff;
    }
}
